@using Board.Views.Dashboard
@model Board.Models.VM_NetworkServer


@section Scripts{
    <script src="~/Content/vendors/validator/validator.js"></script>
    @* <script src="~/Content/vendors/validator/multifield.js"></script> *@
    @* <script src="~/Content/vendors/attentionJS/dist/attention.js"></script> *@
    @* <script src="~/Content/vendors/BootstrapConfirm/BootConfirm.js"></script> *@
    @* <script src="~/Content/vendors/Lightweight-Bootstrap-Confirm/bootstrap-confirm.js"></script> *@
    <script src="~/js/NetworkServer.js"></script>
}

<!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Network Server</h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Form validation <small>sub title</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Settings 1</a>
                                                <a class="dropdown-item" href="#">Settings 2</a>
                                            </div>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <form asp-action="formAddNetworkServer" id="formAddNS" method="post" novalidate>
                                        <span class="section">Network Server Info</span>
                                        @Html.AntiForgeryToken()
                                        @if (TempData["mensaje"] != null)
                                        {
                                            @Html.Partial("_Alertadeexito");
                                        }
                                        <div class="field item form-group">
                                            <label asp-for="name" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                                            <span asp-validation-for="name" class="text-danger"></span>
                                            <div class="col-md-6 col-sm-6">
                                                <input asp-for="name" id="txb_nsName" class="form-control" required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label asp-for="address" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                                            <span asp-validation-for="address" class="text-danger"></span>
                                            <div class="col-md-6 col-sm-6">
                                                <input asp-for="address" id="txb_nsAddress" type="text" class="form-control" required="required" /></div>
                                        </div>
                                    </form>
                                        <div class="ln_solid">
                                            <div class="form-group">
                                                <div class="col-md-6 offset-md-3">
                                                    <button type='submit' id="btn_submit_ns" class="btn btn-primary">Submit</button>
                                                    <button type='reset' id="btn_reset_ns" class="btn btn-success">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
@Html.Partial("_Confirm");

@Html.Partial("_Validation");

